.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hsb-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hsb-title {
  height: 0;
  margin-bottom: 55px;
  color: #8910b9;
  font-size: 35px;
  letter-spacing: -1.2px;
}

.hsb-sub-title {
  font-size: 16px;
  color: #707070;
  letter-spacing: -0.5px;
}

.hsb-move-btn {
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #707070;
  font-weight: bold;
}

.hsb-move-btn:hover {
  background-color: #8910b9;
  color: #fff;
}

.hsb-move-btn {
  display: flex;
  align-items: end;
  justify-content: end;
}

.hsb-idol-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hsb-idol-img {
  width: 250px;
  height: 300px;
  background-color: #efefef;
}

.hsb-idol-set {
  margin-right: 20px;
  margin-top: 50px;
  display: flex;
  align-items: start;
}

.hsb-list-section {
  width: 65%;
}

.hsb-idol-lists {
  /*width: 65%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.hsb-idol-name {
  font-size: 16px;
  color: #707070;
  font-weight: bold;
  height: 0;
  margin-bottom: 35px;
}

.hsb-favorite-btn {
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #707070;
  font-weight: bold;
}

.hsb-favorite-btn:hover {
  background-color: #8910b9;
  color: #fff;
}